:root {
    --tono-fuerte1: #720000;
    --tono-fuerte2: #280503;
    --tono-medio1: #a88a80;
    --tono-medio2: #8d716d;
    --tono-suave1: #f5eada;
    --tono-suave2: #80330010;
    --tono-hover: #80330010;
    --tono-boton-carrusel: #666;
}

body {
    background-color: var(--tono-suave1);
    color: var(--tono-fuerte);
}

h2 {
    color: var(--tono-fuerte1);
}

h3 {
    color: var(--tono-fuerte1);
}

hr {    
    border-color: var(--tono-suave1);
}

.containerHijo {
    background-color: white;
}

/* Estilos de la barra de navegación */

nav {
    background-color: var(--tono-suave1);
}

nav li {
    background-color: var(--tono-suave1);
}

nav a:hover {
    background-color: var(--tono-hover);
}

/* Estilos del encabezado */

#Encabezado {
    background-color: var(--tono-fuerte1);
}

#Encabezado h1, #Encabezado h2 {
    color: white;
}

/* Estilos de Bienvenida */

#BienvenidaPadre {
    background-color: var(--tono-suave1);
}

/* Estilos de la sección de horarios */

#HorariosPadre {
    background-color: var(--tono-medio2);
}

#Izq, #Cent, #Der {
    background-color: var(--tono-suave1);
}

#Izq hr, #Cent hr, #Der hr {
    border: 1px solid white;
}

.controlDeCarrusel button {
    background: none;
    color: var(--tono-boton-carrusel);
}

.indicadoresDeCarrusel .indicador {
    background-color: var(--tono-suave1);
}

.indicadoresDeCarrusel .indicador.activo {
    background-color: var(--tono-medio1);
}

/* Estilos de la sección de actividades */

#ActividadesPadre {
    background-color: var(--tono-suave1);
}

.Actividad hr {
    height: 0.5px;
    border-color: var(--tono-fuerte1);
}

.controlDeCarrusel2 button {
    background: none;
    color: var(--tono-boton-carrusel);
}

.indicadoresDeCarrusel2 .indicador2 {
    background-color: var(--tono-suave1);
}

.indicadoresDeCarrusel2 .indicador2.activo {
    background-color: var(--tono-medio1);
}