/* Estilos generales */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri, sans-serif;
    font-size: 14pt;
    font-weight: 300;
}

h1 {
    line-height: 1rem;
    font-weight: bold;
    font-size: 2.5rem;
}

h2 {
    line-height: 1rem;
    font-weight: 300;
    font-size: 2.5rem;
    padding: 1rem 0;
}

h3 {
    line-height: normal;
    font-size: 1.7rem;
    font-weight: 500;
    padding: 1rem 0;
}

p {
    margin-top: 20px;
    text-align: left;
    font-size: 1.5rem;
}

span {
    font-size: 1.25rem;
}

.containerPadre {
    width: 100%-20px;
    padding: 50px 10px;
    display: grid;
}

.containerHijo {
    margin: 0 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 4px 1px #c0c0c0
}

/* Estilos del encabezado */

#Encabezado {
    padding: 20px 20px 40px ;
    border-radius: 0;
}

#Encabezado h2 {
    font-weight: 100; 
    font-size: 1.5rem;
    line-height: 0.5rem;
}

/* Estilos de la bienvenida */

#BienvenidaPadre {	
    grid-template-columns: 1fr 1fr;
}

/* Estilos de los horarios */

.espacioVisible {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    width: 100%;
    overflow: hidden;
}

.Horarios {
    display: flex; 
    gap: 1%;
    transition: transform 0.5s ease-in-out;
}

.Horarios hr {
    margin-bottom: 20px;
}

#Izq, #Cent, #Der {
    padding: 10px;
    box-sizing: border-box; 
    width: 33.33%; 
    border-radius: 10px;
}

#Izq div, #Cent div, #Der div {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: flex-start;
    gap: 10px; 
}

#Izq div span, #Cent div span, #Der div span {
    flex: 0 1 auto;
    padding: 2px 0;
    width: auto; 
}

/* Estilos de los botones y los indicadores */

#carruselDeHorarios .espacioVisible .controlDeCarrusel {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.controlDeCarrusel button {
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.indicadoresDeCarrusel {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.indicadoresDeCarrusel .indicador {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

/* Estilos de Actividades */

.Actividades {
    display: flex; 
    transition: transform 0.5s ease-in-out;
    width: calc(100%*3);
}

.marcoDeActividad {
    flex: 0 0 11.11%;
    padding: 0 0.5%;
}

.Actividad {
    padding: 10px;
    border-radius: 10px;
    /*box-shadow: 0.5px 0.5px 4px 1px #c0c0c0;*/
}

.Actividades hr {
    margin-bottom: 20px;
}

.Actividad div {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: flex-start;
    gap: 10px; 
}

.Actividad span {
    flex: 0 1 auto;
    padding: 2px 0;
    width: auto; 
}

.alinearDer {
    text-align: right;
    margin-right: 10px;
}

.controlDeCarrusel2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.controlDeCarrusel2 button {
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

#btnAnterior {
    margin-right: auto;
}


@media (max-width: 720px) {

    /* Estilos generales */

    body {
        font-size: 14pt;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 300;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.0rem;
        line-height: 1.2rem;
    }

    span {
        font-size: 0.9rem;
    }

    /* Estilos del encabezado */

    #Encabezado h2 {
        font-weight: 200; 
        font-size: 1rem;
        line-height: 0rem;
    }

    /* Estilos de la bienvenida */

    #BienvenidaPadre {
        display: grid;
        row-gap: 20px;
        grid-template-columns: 1fr;
    }

    /* Estilos de los horarios */

    .Horarios {
        width: 300%;
        gap: 0;
        flex-wrap: wrap;
    }

    .Horarios div p {
        margin-bottom: 10px;
    }        

    /* Estilos de los botones y los indicadores */
    
    .controlDeCarrusel {
        display: flex;
    }

    .indicadoresDeCarrusel {
        display: flex;
    }

}