/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Calibri, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
}

p {
    text-align: left;
    margin-top: 1rem;
}

.containerPadre {
    width: 100%;
    padding: 3rem 1rem;
    display: flex;
    gap: 1rem;
}

.containerHijo {
    flex: 1;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.5px 0.5px 5px 0.5px var(--tono-medio1);
}

/* Estilos del encabezado */

#Encabezado {
    padding: 1rem;
    border-radius: 0;
    line-height: 1.5rem;
}

#Encabezado h2 {
    font-size: 1.5rem;
    font-weight: 100; 
}

/* Estilos de los horarios */

.espacioVisible {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    width: 100%;
    overflow: hidden;
}

.Horarios {
    display: flex; 
    gap: 1rem;
    transition: transform 0.5s ease-in-out;
}

.Horarios hr {
    margin-bottom: 1rem;
}

#Izq, #Cent, #Der {
    padding: 0.5rem;
    width: 33.33%; 
    border-radius: 0.5rem;
    box-sizing: border-box; 
}

#Izq div, #Cent div, #Der div {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: flex-start;
    gap: 0.5rem; 
}

#Izq div span, #Cent div span, #Der div span {
    flex: 0 1 auto;
    padding: 0;
    /* width: auto; */
}

#carruselDeHorarios .espacioVisible .controlDeCarrusel {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.controlDeCarrusel button {
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.indicadoresDeCarrusel {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.indicadoresDeCarrusel .indicador {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

/* Estilos de Actividades */

#carruselDeActividades {
    position: relative;
    width: 100%;
}

.espacioVisible2 {
    overflow: hidden; 
}

.Actividades {
    display: flex;
    transition: transform 0.5s ease-in-out; 
    width: calc(100% * 3);
}

.Actividad {
    flex: 0 0 16.66%; 
    padding: 1rem;
    box-sizing: border-box;
}

.Fecha {
    font-weight: bold;
    background-color: var(--tono-medio2);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.Actividad h3 {
    padding: 0.5rem 0.5rem 0;
}

.Actividades hr {
    margin-bottom: 1rem;
}

.Actividad span {
    flex: 0 1 auto;
    padding: 0;
    width: auto; 
}

.alinearDer {
    text-align: right;
    margin-right: 0.5rem;
}

/* Estilos de carrusel de actividades */

#carruselDeActividades .espacioVisible2 .controlDeCarrusel2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.controlDeCarrusel2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.controlDeCarrusel2 button {
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.indicadoresDeCarrusel2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.indicadoresDeCarrusel2 .indicador2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

#btnAnterior2 {
    margin-right: auto;
}

/* Estilos de footer */

footer {

    /*text-align: center;*/
    font-size: medium;
    padding: 1rem;
    background-color: var(--tono-fuerte2);
    color: var(--tono-suave1);
}

footer div {
    display: flex;
}
footer div div {
    display: block;
}

#espacio {
    flex: 1;
}

footer div div p {
    text-align: center;
    color: var(--tono-suave1);
    margin: 0;
}

/* Estilos para dispositivos móviles */

@media (max-width: 720px) {

    /* Estilos generales */
    
    html {
        font-size: 16px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    /* Estilos del encabezado */
    
    #Encabezado {
        padding: 1rem;
        border-radius: 0;
        line-height: 1.5rem;
    }

    #Encabezado h2 {
        font-size: 1.2rem;
        font-weight: 200; 
    }

    /* Estilos de la bienvenida */

    #BienvenidaPadre {
        display: grid;
        row-gap: 1rem;
        grid-template-columns: 1fr;
    }

    /* Estilos de los horarios */

    .Horarios {
        width: 300%;
        gap: 0;
        flex-wrap: wrap;
    }

    .Horarios div p {
        margin-bottom: 0.5rem;
    }

    /* Estilos de los botones y los indicadores */
    
    #carruselDeHorarios .espacioVisible .controlDeCarrusel, .indicadoresDeCarrusel {
        display: flex;
    }
 
    /* Estilos de las actividades */

    .Actividades {
        width: calc(100%*6);
        gap: 0;
        flex-wrap: wrap;
    }

    .Actividad {
        padding: 0;
    }

    .Fecha {
        margin-top: 1rem;
    }

    .Actividad table {
        font-size: 0.75rem;
    }

    /* Estilos de footer */

    footer {
        font-size: 0.6rem;
    }

    footer div {
        display: block;
        margin-bottom: 0.5rem;
    }
}