body {
    background-color: #e0e0e0;
    font-family: Calibri, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: left;
    line-height: 1.2rem;
    font-weight: 900;
}

h2 {
    text-align: left;
    font-weight: 500;
    line-height: 1rem;
    margin-bottom: 1rem
}

p {
    text-align: left;
    line-height: 1.5rem;
}

hr {
    border: 1px solid #e0e0e0;
    margin: 0;
    margin-top: 1px;

}

div {
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 0.5rem;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #e0e0e0;
}

nav li {
    display: inline-block;
    position: relative;
}

nav a, span {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    background-color: #d0d0d0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e0e0e0;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px #00000033;
    z-index: 1;
    width: 100%; /* El dropdown-content ocupa todo el ancho */
}

.dropdown-content li {
    display: block; /* los li del dropdown ahora son block */
    width: 100%; /* Los li del dropdown ocupan todo el ancho */
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-toggle::after {
    content: "\25BD";
    margin-left: 5px;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 600px) {
    nav ul li a { font-size: small; }
    body { font-size: 16px; }
    h1 { font-size: 1.5em; }
    h2 { font-size: 1.2em; }
}

/* Ajustes para pantallas grandes */
@media (min-width: 1200px) {
    nav ul li a { font-size: medium; }
    body { font-size: 20px; }
    h1 { font-size: 2.5em; }
    h2 { font-size: 1.7em; }
    
}

.container0 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #333;
}

.container0 h1, .container0 h2 {
    color: #edede9; 
    line-height: 0.5rem;    
}